*{
    background-color: rgb(81, 80, 80);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

.card {
    width: 800px;
    height: 400px;
    background-color: #181818;
    border-radius: 50px 50px 150px 50px;
    box-shadow: 0 10px 20px rgb(242, 241, 241);
    align-items: flex-start;

}
.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #181818;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    background-color: #181818;
    color: #fff;
  }

  label {
    display: block;
    margin-bottom: 10px;
    background-color: #181818;
    color: #fff;
  }

  input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #181818;
    color: #fff;
  }

  button {
    display: block;
    width: max-content;
    padding: 10px;
    margin-top: 20px;
    background-color: #fefefe;
    color: #100e0e;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
    background-color: #181818;
    color: #27c697;
  }